*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
html, body {
    margin:0;
    padding:0;
    height: 100%;
}

.videos {
    background-color: black;
    display: flex;
    justify-content: space-around;
}

.videos h1 {
    color: white;
    text-align: center;
}

.movie {
    perspective: 600px;
    height: 500px;
}

.cube{
    position: relative;
    width:200px;
    height: 350px;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: 1s;
    margin: 50px;
}
.cube:hover{
    transform: rotateY(-90deg);
    transition: 1s;
}

.capa {
    background-image:url('https://upload.wikimedia.org/wikipedia/en/thumb/8/8b/In_the_Heart_of_the_Sea_poster.jpg/220px-In_the_Heart_of_the_Sea_poster.jpg');
    background-size: cover;
    background-position: center center;
    width: 200px;
    height: 350px;
    position: absolute;
}

.info{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 10px;
    width: 200px;
    height: 350px;
    position: absolute;
    transform: rotateY(115deg) translateZ(91px) translateX(57px)
}

.about {
    background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5), rgba(0,0,0,1)), url('https://i.pinimg.com/originals/c6/4f/a8/c64fa83b3fc6aee94392822ebf4734f1.jpg');
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    color: white;
    font-size: 30px;
}

.about p{
    padding: 70px 30px 30px 30px;
}

.text-sperm {
    width: 300px;
    font-size: 18px;
}

.info-sperm {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin:0 auto;
    align-items: center;
}

.kraken {
    background-image:linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.5),rgba(0,0,0,1)), url('imagens/M56Ht.jpg');
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center center; 
}

.thumb {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5), rgb(255, 255, 255)), url('https://i.guim.co.uk/img/media/a419b06fa33a1d1eca340644cfa6d3ab39b37fe0/196_21_3233_1940/master/3233.jpg?width=300&quality=85&auto=format&fit=max&s=0b1b26ec75bde5e7996f05ea93b735d1');
    background-size: cover;
    background-position: center center;
    width:200px;
    height: 150px;
}

.header {
    background-image: url('imagens/sea.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
}

.battle{
    margin:0;
    padding:0;  
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top:40%;
    left:30%;
    z-index: 2;
    font-size: 70px;
    color: white;
}
.p-battle{
    margin:0;
    padding:20px;  
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top:50%;
    left:40%;
    z-index: 2;
    font-size: 20px;
    color: white;
}
.shark {
    left: 80px;
    top: 280px;
    width: 400px;
    position: absolute;
    filter: brightness(0.5);
}

.imersion {
    position: relative;
    z-index:3;
    background-image: linear-gradient(rgba(36, 60, 197, 0.1), rgba(36, 60, 197, 0.4), rgba(0, 0, 0, 0.9));
    height: 100%;
    width:100%;
}

.bubles {
    left: 80px;
    top: 280px;
    width: 400px;
    position: absolute;
    filter: brightness(0.5);
    position: absolute;
}

.octopos {
    transform: scaleX(-1) rotate(50deg);
    left: 680px;
    top: 180px;
    width: 300px;
    opacity: 1;
    filter: brightness(0.7);
    position: absolute;
}

.smoke {
    opacity:0;
    left: 110px;
    top: 590px;
    width: 500px;
    z-index:1;
    position:absolute;
    filter: brightness(0%);
}

img {
    position:relative;
}